.sujin {
    .loader {
        .column {
            background-color: var(--black);
            aspect-ratio: 16 / 9;
            margin-bottom: var(--gap);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .loader--recent {
        .column {
            aspect-ratio: 16 / 4;
        }
    }

    .loader--flickr {
        --gap: 0.5em;

        .column {
            aspect-ratio: 1 / 1;
        }
    }

    .loader--tag-cloud {
        width: 100%;
        height: calc(100% - 4em);

        .column {
            width: 100%;
            height: 100%;
            margin-bottom: 1em;
            aspect-ratio: unset;
        }
    }

    /* https://css-loaders.com/infinity/ */
    .loader__animation {
        width: 90px;
        height: 14px;
        --c: #fff 92%, #0000;
        background: radial-gradient(circle closest-side, var(--c))
                calc(100% / -4) 0,
            radial-gradient(circle closest-side, var(--c)) calc(100% / 4) 0;
        background-size: calc(100% / 2) 100%;
        animation: l14 1.5s infinite;
    }

    @keyframes l14 {
        0% {
            background-position: calc(100% / -4) 0, calc(100% / 4) 0;
        }
        50% {
            background-position: calc(100% / -4) -14px, calc(100% / 4) 14px;
        }
        100% {
            background-position: calc(100% / 4) -14px, calc(3 * 100% / 4) 14px;
        }
    }
}
