.button {
    padding: ($padding / 2) $padding;
    background-color: $light-grey;
    font-size: 1rem;
    color: $dark-grey;
    font-weight: 400;
    font-family: $font-family;
    cursor: pointer;
    border: none;
    opacity: .8;

    &.button--primary {
        background-color: $colour-accent;
        color: $white;
    }

    &.button--icon {
        border: none;
        background-color: transparent;
        min-height: 2rem;
        min-width: 2rem;
        padding: 0;
        font-size: 1.5rem;
    }

    &:hover {
        text-decoration: none;
        opacity: 1;
    }

    + .button {
        margin-left: $margin / 2;
    }
}
