.card {
    background-color: $white;
    display: block;
    box-sizing: border-box;
    border-radius: 0.2rem;
    border: $border;
    box-shadow: 0 0 .5rem 0px $colour-border;

    &.card--with-header {
        padding: 0;
    }

    h2 {
        font-size: 1.1rem;
    }

    .card__header {
        padding: 0 $padding;
        border-bottom: $border;
        height: $card-header-height;
        display: flex;
        align-items: center;
        justify-content: space-between;

        > :first-child {
            margin-top: 0;
        }

        @include desktop {
            padding: 0 ($padding / 2);
        }
    }

    .card__body {
        margin: $padding;
        box-sizing: border-box;

        @include desktop {
            margin: $padding / 2;
        }
    }
}

.card--header-card {
    min-height: $card-header-card-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__body--scrollable {
    overflow: scroll !important;
}
