{
  "presets": [
    "env",
    "stage-0",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    [
      "transform-react-jsx", {
        "pragma": "wp.element.createElement"
      }
    ]
  ]
}
