# .dockerignore @see https://docs.docker.com/build/concepts/context/#dockerignore-files

# Docker files
Dockerfile
.dockerignore

# npm related
node_modules
npm-debug.log

# Dev env
.git
.github
.husky
.jest
.next
.vscode
coverage
design
docs
README.md
temp
.backup
public
**/*.spec.ts
