VERSION=10.1.2

NEXT_PUBLIC_TITLE=Sujin
NEXT_PUBLIC_EXCERPT=Just a Developer
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# MySQL
MYSQL=localhost
MYSQL_USER=example_user
MYSQL_PASSWORD=your_password_here
MYSQL_DB=wordpress

# Flickr
FLICKR_ID=

# Google Advert
NEXT_PUBLIC_GOOGLE_AD_CLIENT=
NEXT_PUBLIC_FOOTER_GOOGLE_AD_SLOT=
NEXT_PUBLIC_SIDEBAR_GOOGLE_AD_SLOT=

# Mongo
MONGO=localhost
MONGO_DATABASE=mongo

# Google Login
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
NEXTAUTH_SECRET=super-secret-key
NEXTAUTH_URL=https://example.com
ADMIN_EMAIL=who@are.you

# Misc
GRAPHQL_ALLOW_ORIGINS=https://wordpress.sujinc.com
