VERSION=10.1.1

NEXT_PUBLIC_TITLE=Sujin
NEXT_PUBLIC_EXCERPT=Just a Developer
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# MySQL
MYSQL=localhost
MYSQL_USER=example_user
MYSQL_PASSWORD=your_password_here
MYSQL_DB=wordpress
MONGO_DATABASE=sujin

FLICKR_ID=
NEXT_PUBLIC_GOOGLE_AD_CLIENT=
NEXT_PUBLIC_FOOTER_GOOGLE_AD_SLOT=
NEXT_PUBLIC_SIDEBAR_GOOGLE_AD_SLOT=

# Mongo
MONGO_USER=username
MONGO_PASS=password
MONGO_DATABASE=mongo
