# Mongo
MONGO=localhost:27017
MONGO_DATABASE=
MONGO_ROOT_USER=
MONGO_ROOT_PASSWORD=
MONGO_USER=
MONGO_PASSWORD=

# MySQL
MYSQL=localhost
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DB=
MYSQL_ROOT_PASSWORD=

# Redis
REDIS_ENDPOINT=
REDIS_PASSWORD=

# Secret
SESSION_SECRET=
ACCESS_SECRET=
REFRESH_SECRET=
INTER_COM_SECRET=
EMAIL_SECRET=
CRYPTO_KEY=
# CORS
GQL_CORS_ORIGINS='["http://localhost:8000","http://localhost:8010","http://localhost:8020"]'
AUTH_CORS_ORIGINS='["http://localhost:8000", "http://localhost:8010"]'
# Google Login
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8010/google/auth/callback

# Google Ad
GOOGLE_AD_CLIENT=
GOOGLE_AD_SLOT_FOOTER=
GOOGLE_AD_SLOT_SIDEBAR=

# URL
NEXT_BASE_URL=http://localhost:8000
GQL_BASE_URL=http://localhost:8040
AUTH_BASE_URL=http://localhost:8010
GQL_SERVER_PORT=8040
AUTH_SERVER_PORT=8010
WP_SERVER_PORT=8020

# Misc
FLICKR_ID=
NEXT_PUBLIC_SITE_NAME=Sujin
NEXT_PUBLIC_SITE_DESCRIPTION='React, Node, Wordpress Developer'
BYPASS_CACHE=
