# Mongo
MONGO_DATABASE=sujin
MONGO_ROOT_USER=mongoadmin
MONGO_ROOT_PASSWORD=801592420021istnvfpu4doobps0bn5ptrc85io77sid
MONGO_USER=mongosujin
MONGO_PASSWORD=UhNAW801592420021googleusercontentistnvfpu4doobps0bn5ptrc85io77sid
MONGO_PORT=8030

# MySQL
MYSQL_USER=example_user
MYSQL_PASSWORD=your_password_here
MYSQL_DB=wordpress
MYSQL_ROOT_PASSWORD=your_password_here
MYSQL_PORT=8050
