# Mongo
MONGO=localhost
MONGO_DATABASE=sujin
MONGO_ROOT_USER=mongoadmin
MONGO_ROOT_PASSWORD=801592420021istnvfpu4doobps0bn5ptrc85io77sid
MONGO_USER=mongosujin
MONGO_PASSWORD=UhNAW801592420021googleusercontentistnvfpu4doobps0bn5ptrc85io77sid
MONGO_PORT=8030

# MySQL
MYSQL_USER=example_user
MYSQL_PASSWORD=your_password_here
MYSQL_DB=wordpress
MYSQL_ROOT_PASSWORD=your_password_here
MYSQL_PORT=8050

# WP
VERSION=12.0.0
ENV=development
WP_PORT=8020
ACCESS_SECRET=415b3a0697c464e5f71e02700957ca3e1f6aa5681f1346f06d3a315be62d9abe
GQL_ENDPOINT='http://host.docker.internal:8040'
