# Log Files
**/*.log
.configs/logs/**/*
/coverage

# dependencies
**/node_modules

# Mac
**/.DS_Store

# Build
/dist
/logs
/build
stat.json

# Composer
vendor/
wordpress/

# Environments
.env
docker-compose.yml

# Site Specified Assets
assets/styles/site-specific
assets/images/site-specific
