# Log Files
**/*.log
.configs/logs/**/*

# dependencies
**/node_modules

# Mac
**/.DS_Store

# Build
/dist
/logs
stat.json

# Composer
vendor/
wordpress/

# Environments
**/.env
**/docker-compose.yml

# Site Specified Assets
assets/styles/site-specific
assets/images/site-specific
