# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/.build

# misc
.DS_Store
.env
.env.stage
.env.production

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dev mode
.backup
/wordpress/uploads/**/*
/wordpress/themes/sujin/vendor/**/*
