# MySQL
# should be matched with root information
MYSQL=localhost
MYSQL_USER=example_user
MYSQL_PASSWORD=your_password_here
MYSQL_DB=wordpress
MYSQL_PORT=8050

# Mongo
# should be matched with root information
MONGO=localhost:8030
MONGO_DATABASE=sujin
MONGO_USER=mongosujin
MONGO_PASSWORD=UhNAW801592420021googleusercontentistnvfpu4doobps0bn5ptrc85io77sid

# Security
SERVER_PORT=8040
ACCESS_SECRET=415b3a0697c464e5f71e02700957ca3e1f6aa5681f1346f06d3a315be62d9abe # should be matched with @next, @auth, @graphql
REFRESH_SECRET=0f6009873ddd0cff61c01f94bf981cbbfa54abc4838870cc4bbd0c5729071325
EMAIL_SECRET=c0cc92fd58398b0065038884ff50acc577692d050af7ee65fdf2ad15b8b3f1ce
CORS_ORIGINS='["http://localhost:8000","http://localhost:8010","http://localhost:8020"]' # JSON string[] of Next.JS & Auth & Wordpress
