# MySQL / match to @wordpress
MYSQL=localhost
MYSQL_USER=example_user
MYSQL_PASSWORD=your_password_here
MYSQL_DB=wordpress
MYSQL_PORT=39000

# Mongo
MONGO=localhost
MONGO_DATABASE=sujin
MONGO_ROOT_USER=mongoadmin
MONGO_ROOT_PASSWORD=801592420021istnvfpu4doobps0bn5ptrc85io77sid
MONGO_USER=mongosujin
MONGO_PASSWORD=UhNAW801592420021googleusercontentistnvfpu4doobps0bn5ptrc85io77sid
MONGO_PORT=39001

# Security
SERVER_PORT=80
NEXTAUTH_SECRET=415b3a0697c464e5f71e02700957ca3e1f6aa5681f1346f06d3a315be62d9abe # match to @next
GQL_SECRET=11378bf9a24cd4aa8870b089b61030126f8e9f3e5a3c8346b188befc23db4291
EMAIL_SECRET=c0cc92fd58398b0065038884ff50acc577692d050af7ee65fdf2ad15b8b3f1ce
CORS_ORIGIN=http://localhost:3000
