main.admin {
    padding-top: var(--header-height) !important;
    margin-top: var(--header-height) !important;
    .table__container {
        .center {
            > * {
                display: inline-block;
            }
        }
    }
}

.menu--admin {
    .menu__link {
        padding: var(--gap);
        background: var(--light-gray);
    }
}
