@use 'tailwindcss';
@tailwind base;

@theme {
    --color-primary: rgb(151 0 0);
    --color-primary-dark: rgb(100 0 0);
    --color-secondary: rgb(243 157 46);
    --spacing-header: 3rem;
}

.menu--hamburger {
    z-index: 100;

    .menu__link {
        padding: calc(var(--spacing) * 3);
        color: var(--color-white);
        background-color: var(--color-black);
        width: 100vw;

        &:hover {
            background-color: var(--color-primary);
        }
    }

    .menu__block .menu__block {
        .menu__link {
            padding-left: calc(var(--spacing) * 9);
        }
    }
}

.menu--top {
    $elements: 15;

    > .menu__block {
        display: flex;

        @for $i from 0 to $elements {
            $px: -1 * (50 + ($i * 30));

            > .menu__item:nth-child(#{$i}) > .menu__link {
                margin-top: #{$px}px;
                color: var(--color-primary);
            }
        }

        .menu__block {
            position: fixed;
            top: var(--spacing-header);
            display: none;
        }
    }

    .menu__link {
        display: flex;
        align-items: center;
        height: var(--spacing-header);
        background-color: var(--color-white);
        transition: ease-out 0.3s background, ease-out 0.3s color, ease-out 0.7s margin;
        padding: 0 calc(var(--spacing) * 3);

        &:hover {
            background-color: var(--color-primary) !important;
            color: var(--color-white) !important;
        }

        &.current {
            background-color: var(--color-primary);
            color: var(--color-white);
        }
    }

    .menu__item {
        &:hover {
            .menu__block {
                display: block;
            }
        }
    }

    .menu__link__arrow {
        display: none;
    }

    &.scrolled .menu__link {
        margin-top: 0 !important;
    }
}

.menu--banner {
    > .menu__block {
        display: flex;
    }

    .menu__link {
        color: var(--color-white);
        text-transform: uppercase;
        background-color: transparent;
        transition: background-color ease-out 0.3s;
        border-bottom: 6px solid transparent;
        height: 4em;
        padding: 0 calc(var(--spacing) * 5);
        display: flex;
        align-items: center;

        &:hover {
            background-color: var(--color-primary);
            border-bottom: 6px solid var(--color-primary-dark);
        }

        svg {
            transform: rotate(180deg);
            width: 24px;
            height: 24px;
            fill: var(--color-slate-500);
        }
    }

    .menu__block .menu__block {
        position: absolute;
        z-index: 10;
        display: none;
        flex-direction: column;
        height: auto;
    }

    .menu__item--opened {
        svg {
            transform: rotate(0deg);
            fill: var(--color-slate-300);
        }

        .menu__block {
            display: block;
        }
    }
}

.tag-cloud {
    margin: 0.2em;
    padding: 0.1em 0.4em;
    border-radius: 5px;
}

.tag-cloud--size-0 {
    font-size: 1em;
}
.tag-cloud--size-1 {
    font-size: 1.1em;
}
.tag-cloud--size-2 {
    font-size: 1.2em;
}
.tag-cloud--size-3 {
    font-size: 1.3em;
}
.tag-cloud--size-4 {
    font-size: 1.4em;
}

.tag-cloud--color-0 {
    color: rgba(255, 255, 255, 0.7);
    background-color: transparent;
}
.tag-cloud--color-2 {
    color: var(--white);
    background-color: rgba(151, 0, 0, 0.5);
}
.tag-cloud--color-3 {
    color: var(--white);
    background-color: rgba(151, 0, 0, 0.7);
}
.tag-cloud--color-4 {
    color: var(--white);
    background-color: var(--primary);
}
