& {
	margin-bottom: 1em;

	&:before {
		content: "";
		width: 5px;
		height: 5px;
		display: block;
		margin: 0 auto;
		background-color: $medium-gray;
		border-radius: 5px;
		margin-bottom: 1em;
	}

	> * {
		margin-bottom: 2em;
	}

	.social-share {
		display: flex;
		margin-bottom: 2em;

		button {
			width: 50px;
			height: 50px;
			border-radius: 30px;
			margin-right: 5px;
			transition: all ease-out 0.1s;
			mask-size: 50px;
			mask-position: center;
			mask-repeat: no-repeat;

			&.twitter {
				mask-image: url('../../../../images/icons/twitter.svg');
				background-color: #4EC8F4;
			}

			&.facebook {
				mask-image: url('../../../../images/icons/facebook.svg');
				background-color: #1B75BB;
			}

			&:hover {
				background-color: $dark-gray;
				mask-size: 60px;
			}
		}
	}

	.prev-next {
		display: flex;

		a {
			display: flex;
			align-items: center;
			align-content: center;
			transition: color ease-out 0.3s;
			flex-grow: 1;
			background: none;
			width: 50%;

			i {
				background-color: map-get($foundation-palette, 'primary');
			    border-radius: 3px;
			    width: 40px;
				height: 40px;
				transition: background-color ease-out 0.3s;

				&:after {
					content: '';

					mask-image: url('../../../../images/icons/prev.svg');
					mask-size: 15px;
					mask-repeat: no-repeat;
					mask-position: center;

					width: 40px;
					height: 40px;
					display: block;

					background-color: white;
				}
			}

			&:hover {
				color: $black;
				background: none;

				i {
					background-color: $black;
				}
			}

			&.prev {
				i {
					margin-right: 0.5em;
				}
			}

			&.next {
				flex-direction: row-reverse;

				i {
					margin-left: 0.5em;

					&:after {
						transform: rotate(180deg);
					}
				}
			}
		}

		@include breakpoint(small only) {
			flex-direction: column;

			a {
				width: 100%;

				&.prev {
					margin-bottom: 0.3em;
				}

				&.next {
					flex-direction: row;

					i {
						margin: 0 0.5em 0 0;
					}
				}
			}
		}
	}

	.related-posts {
		.simple-post {
			h2 {
				font-size: 13pt;
			}

			figure {
				height: 180px;
			}

			.description, .tags, time {
				display: none;
			}
		}
	}
}
