<header id="header_fixed">
	<div class="container">

		<section class="span6">
			<div class="mobile">
				<a href="">
					<span class="dashicons dashicons-menu"></span>
				</a>
			</div>

			<a href="{{vars.homeUrl}}" class="logo">
				<img src="{{vars.logo.fixed}}" />
			</a>

			<nav class="desktop">
				<ul>
					<li
						ng-repeat     = "menu in vars.menu"
						ng-include    = "vars.viewBase + 'template/nav.html'"
						ng-mouseover  = "Hover( menu.ID )"
						ng-mouseleave = "Leave( menu.ID )"
						ng-class      = "{ hover : vars.hover == menu.ID }"
					></li>
				</ul>
			</nav>
		</section>

		<section class="span6 desktop">
			<form>
				<input id="frm-search" type="text" name="s" value="" />
				<a href=""><span class="dashicons dashicons-search"></span></a>
			</form>

			<div>
				<?php echo get_template_part( "template-part/social" ); ?>
			</div>
		</section>
	</div>
</header>

<header id="mobile_nav" class="mobile">
	<nav>
		<ul>
			<li
				ng-repeat     = "menu in vars.menu"
				ng-include    = "vars.viewBase + 'template/nav.html'"
				ng-mouseover  = "Hover( menu.ID )"
				ng-mouseleave = "Leave( menu.ID )"
				ng-class      = "{ hover : vars.hover == menu.ID }"
			></li>
		</ul>
	</nav>
</header>

<header id="header_desktop" class="desktop">
	<div class="container">
		<section class="span3">
			<a href="{{vars.homeUrl}}" class="logo">
				<img width="{{vars.logo.menu[1]}}" height="{{vars.logo.menu[2]}}" src="{{vars.logo.menu[0]}}" />
			</a>
		</section>

		<section class="span9">
			<nav>
				<ul>
					<li
						ng-repeat     = "menu in vars.menu"
						ng-include    = "vars.viewBase + 'template/nav.html'"
						ng-mouseover  = "Hover( menu.ID )"
						ng-mouseleave = "Leave( menu.ID )"
						ng-class      = "{ hover : vars.hover == menu.ID }"
					></li>
				</ul>
			</nav>
		</section>
	</div>
</header>
