* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing   : border-box;
	box-sizing        : border-box;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
}

html, body {
    font-family: @font-family;
	font-size  : @font-size;
	font-weight: 200;
	line-height: @line-height;

	margin : 0;
	padding: 0;
}

body {
	background-color: #F5F5F5;
}

h1 {
	font-size  : @font-size-h1;
	font-weight: 200;

	margin: 0;
}

h2 {
	font-size  : @font-size-h2;
	font-weight: 200;

	margin: 0;
}

textarea:focus, input:focus{
    outline: none;
}

a {
	color          : @brand-primary;
	text-decoration: none;

	&:hover   { text-decoration: none; }
	&:active  { text-decoration: none; }
	&:link    { text-decoration: none; }
	&:visited { text-decoration: none; }
}

.container {
	width           : @full-width;
	margin          : 0 auto;
	padding         : 0 20px;
	overflow        : auto;

	@media ( max-width: @browser-full ) {
		width:@ipad-h;
	}

	@media ( max-width: @ipad-h ) {
		width:@ipad-v;
	}

	@media ( max-width: @ipad-v ) {
		width:100%;
	}
}

*[class*=span] {
	float:      left;
	min-height: 1px;
}

.span6 {
	width: 50%;
}
.span3 {
	width: 25%;
}
.span9{
	width: 75%;
}

.mobile {
	display: none;
}

.absolute-center {
	position:  absolute;
	top:       50%;
	left:      50%;
	transform: translateY(-50%) translateX(-50%);
}
