#recent-posts {
	margin-top: 50px;

	.loading {
		img {
			display: none;
		}
	}

	.post {
		overflow: auto;
		margin-bottom: 10px;
		padding: 0;

		figure.thumbnail {
			float: left;
			margin-right: 10px;
			width: 90px;
			height: 90px;
		}

		h2 {
			font-size: 1rem;
		}

		time {
			display: none;
		}

		.tags {
			display: none;
		}
	}
}
