@import "font-awesome";
@import "settings";

@import "~foundation-sites/scss/foundation";

@include foundation-everything;
@include foundation-flex-classes;
@include foundation-flex-grid;

@import "global";
@import "social-media";
@import "header";
@import "footer";
@import "thumbnail";
@import "aside";
@import "front-page";
@import "single";
@import "archive";
@import "404";

@import "carousel";
