@use 'sass:color';

/**
 * Color
 */
$black: #0d121c;
$dark-gray: color.adjust($black, $lightness: 10%);
$gray: color.adjust($black, $lightness: 40%, $saturation: -30%);
$light-gray: color.adjust($black, $lightness: 80%, $saturation: -30%);
$lighter-gray: color.adjust($black, $lightness: 88%, $saturation: -30%);
$white: #ffffff;
$primary: #970000;
$primary-dark: color.adjust($primary, $lightness: -10%);
$secondary: rgb(243, 157, 46);
$warning: #970000;
$pastel-red: #f4aab9;
$pastel-blue: #66ccff;

/**
 * Font
 */
$font-size: 11pt;
$font-family: 'Ubuntu', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;

/**
 * Size
 */
$header-height: 3.4rem;
$max-width: 75rem;
$medium: 40rem;
$large: 64rem;
$extra-large: 100rem;
$gap: 1rem;
