SERVER_PORT=8000
SITE_NAME=Sujin
SITE_DESCRIPTION='React, Node, Wordpress Developer'
BASE_URL=http://localhost:8000

# Google Advert
GOOGLE_AD_CLIENT=
GOOGLE_AD_SLOT_FOOTER=
GOOGLE_AD_SLOT_SIDEBAR=

# Auth/Data
AUTH_ENDPOINT='http://localhost:8010'
GQL_ENDPOINT=
INTER_COM_SECRET=inter_com_secret
CRYPTO_KEY=
REDIS_SERVER=:eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81@localhost:6379
