SERVER_PORT=8000
NEXT_PUBLIC_TITLE=Sujin
NEXT_PUBLIC_EXCERPT='React, Node, Wordpress Developer'
NEXT_PUBLIC_BASE_URL=http://localhost:8000

# Google Advert
NEXT_PUBLIC_GOOGLE_AD_CLIENT=
NEXT_PUBLIC_FOOTER_GOOGLE_AD_SLOT=
NEXT_PUBLIC_SIDEBAR_GOOGLE_AD_SLOT=

# Auth/Data
NEXT_PUBLIC_AUTH_ENDPOINT='http://localhost:8010'
NEXT_PUBLIC_GQL_ENDPOINT='http://localhost:8040' # From local to local
NEXT_PUBLIC_GQL_ENDPOINT='http://host.docker.internal:8040' # From docker to local
GQL_ENDPOINT_INTERNAL=
INTER_COM_SECRET=inter_com_secret
CRYPTO_KEY=
