# Redis
REDIS_ENDPOINT=

# Secret
INTER_COM_SECRET=
CRYPTO_KEY=

# Google Ad
GOOGLE_AD_CLIENT=
GOOGLE_AD_SLOT_FOOTER=
GOOGLE_AD_SLOT_SIDEBAR=

# URL
NEXT_BASE_URL=
GQL_BASE_URL=
AUTH_BASE_URL=

# Misc
SITE_NAME=
SITE_DESCRIPTION=
BYPASS_CACHE=
PORT=
