.callout {
    position: relative;
    background-color: var(--pastel-blue);
    margin: 0 0 var(--gap) 0;
    padding: var(--gap);

    .button--close {
        position: absolute;
        right: 0.2em;
        top: 0;
        font-size: 2em;
    }
}
