@use 'variable';
@use './mixin';

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 11000;
    padding: var(--gap);
}

.modal__wrapper {
    background-color: var(--white);
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow-y: scroll;

    @include mixin.large {
        width: variable.$large;
    }

    @include mixin.extra-large {
        width: variable.$extra-large;
    }

    .modal {
        height: calc(100% - 2 * var(--gap));
        width: calc(100% - 3 * var(--gap));
        overflow-y: scroll;
        margin: var(--gap);
    }

    .button.button--close {
        position: absolute;
        right: 0.2em;
        top: 0;

        span {
            font-size: 2.5em;
        }
    }
}
