.paging__container {
    display: flex;
    justify-content: center;
    margin-bottom: var(--gap);
}

.paging {
    display: flex;
    box-sizing: border-box;
    min-width: 3em;
    height: 3em;
    border: 1px solid var(--light-gray);
    justify-content: center;
    align-items: center;
    padding: 0 0.5em;
    margin-right: 0.5em;

    &:last-child {
        margin-right: 0;
    }
}

.paging--active {
    background: var(--primary);
    color: var(--white);
    cursor: default;
}

.paging--hellip {
    span {
        background-color: var(--gray);
        width: 3px;
        height: 3px;
        margin-right: 3px;

        &:last-child {
            margin-right: 0;
        }
    }
}
