.table {
    width: fit-content;
    border: 1px solid var(--light-gray);
    border-bottom: none;

    tr {
        border: 1px solid var(--lighter-gray);

        &:nth-of-type(2n) {
            background-color: var(--lighter-gray);
        }
    }

    thead {
        background-color: var(--light-gray);
    }

    th,
    td {
        padding: 0.5em 1em;

        &.center {
            text-align: center;
        }
    }
}

.table__container {
    width: 100%;
    max-width: 100%;
    overflow: auto;

    &.table__container--center {
        display: flex;
        justify-content: center;
    }

    &.table__container--full-width {
        .table {
            min-width: 100%;
        }
    }
}
