.table {
    margin-bottom: var(--gap);
    width: 100%;
    max-width: 100%;

    .table__container {
        border: 1px solid var(--light-gray);
    }

    thead {
        background-color: var(--light-gray);
    }

    th,
    td {
        padding: 0.5em 1em;

        &.center {
            text-align: center;
        }
    }

    caption {
        margin: 0.5em 0;
        caption-side: bottom;
        text-align: start;
    }
}

.table__container {
    width: fit-content;
    max-width: 100%;
    overflow: auto;
}

.table--center {
    display: flex;
    justify-content: center;
}

.table--full-width {
    .table__container {
        min-width: 100%;
    }
    table {
        min-width: 100%;
    }
}
