@use 'mixin';

.menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu__link {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    font-weight: 400;
    background-color: var(--white);
    transition:
        background 0.3s ease-out,
        color 0.3s ease-out;

    @include mixin.hover {
        color: white;
        background-color: var(--primary);
        text-decoration: none;

        .menu__link__arrow {
            fill: var(--white);
        }
    }
}

.menu__link__arrow {
    width: 24px;
    height: 24px;
    fill: var(--gray);
}

.menu .menu {
    position: absolute;
    z-index: 100000;
    display: none;
    flex-direction: column;
    height: auto;
}

.menu__item {
    &.menu__item--closed {
        .menu__link__arrow {
            transform: rotate(180deg);
        }
    }

    &.menu__item--opened {
        .menu__link__arrow {
            transform: rotate(0deg);
        }

        .menu {
            display: flex;
        }
    }
}

.menu__container--vertical {
    .menu {
        flex-direction: column;

        .menu {
            position: static;

            .menu__link {
                padding-left: var(--gap);
            }
        }
    }
}
