.banner {
    background-color: $black;
    background-size: cover;
    background-position: center;
    margin-bottom: 3em;
    position: relative;
    height: $page-header-height;

    @include breakpoint(medium only) {
        height: $page-header-height-medium;
    }

    @include breakpoint(small only) {
        height: $page-header-height-small;
    }
}

.banner__overlay {
    position: absolute;
    background: transparent
        url('../../images/background/dotted-dark-foreground.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: $page-header-height;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;

    @include breakpoint(medium only) {
        height: $page-header-height-medium;
    }

    @include breakpoint(small only) {
        height: $page-header-height-small;
    }
}

.layout__header__image {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: $page-header-height;

    @include breakpoint(medium only) {
        height: $page-header-height-medium;
    }

    @include breakpoint(small only) {
        height: $page-header-height-small;
    }
}

.wrapper--headline {
    .banner {
        height: 100vh;
        margin-bottom: 0;
    }

    .banner__overlay {
        height: 100vh;
    }

    .layout__header__image {
        height: 100vh;
    }
}

.banner__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    margin-top: 2em;
    width: 100%;
}

.banner__title__tag {
    font-size: 0.4em;
    font-weight: 200;
    background-color: $white;
    color: $black;
    padding: 0 0.4em 0.1em;
}

.banner__title__heading {
    display: flex;
    align-items: center;
    flex-direction: column;

    @include breakpoint(medium only) {
        font-size: 40px;
    }

    @include breakpoint(small only) {
        font-size: 35px;

        .banner__title__tag {
            font-size: 0.6em;
        }
    }
}

.banner__title__excerpt {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    p {
        font-weight: 400;
        font-size: 1.2em;
        margin-bottom: 0;
        line-height: 1.4;
        background-color: $black;
        color: $white;
        padding: 0 0.2em;

        @include breakpoint(small only) {
            font-size: 16px;
        }
    }
}

.menu--banner {
    position: absolute;
    width: 100%;
    top: $header-height;
    justify-content: flex-end;
    overflow: visible;

    .menu__item__link {
        color: $white;
        font-weight: 500;
        text-transform: uppercase;
        padding: 27px 20px 25px;
        background-color: transparent;
        transition: background-color ease-out 0.3s;
        font-size: 1rem;
        border-bottom: 6px solid transparent;
        display: block;

        &:hover {
            background-color: map-get($foundation-palette, 'primary');
            border-bottom: 6px solid $primary-dark;
        }
    }

    .menu--children {
        top: 69px;
        display: none;
        position: absolute;
        width: max-content;
    }

    .menu__item {
        &:hover {
            .menu--children {
                display: inherit;
            }
        }
    }
}

.layout__header__icon {
    position: relative;
    border-radius: 100px;
    margin: -7.5em auto 2em;
    display: block;
    width: 9em;
    height: 9em;
}

.wrapper--front-page {
    .banner__title__heading {
        height: 116px;
        text-indent: -10000px;
        overflow: hidden;
        display: block;
        background: transparent url('../../images/logo.svg') no-repeat 0 0;
        width: 100%;
        background-position: center bottom;
        margin-bottom: 20px;
    }

    .banner__title__excerpt {
        padding: 0 0.2em;
        line-height: inherit;
        background-color: $white;
        color: $black;
        font-size: 1.3em;
        font-weight: 400;
        margin-bottom: 0;

        @include breakpoint(small only) {
            font-size: 1.2em;
        }
    }
}

.wrapper--single {
    .banner__title__excerpt {
        padding: 0 0.2em;
        line-height: inherit;
        background-color: $white;
        color: $black;
        font-size: 1.3em;
        font-weight: 400;
        margin-bottom: 0;

        @include breakpoint(small only) {
            font-size: 1.2em;
        }
    }
}

.wrapper--404 {
    .banner__title__heading {
        height: 116px;
        overflow: hidden;
        width: 100%;
        margin-bottom: 20px;
        font-size: 8em;
    }

    .banner__title__excerpt {
        padding: 0 0.2em;
        line-height: inherit;
        background-color: $white;
        color: $black;
        font-size: 1.3em;
        font-weight: 400;
        margin-bottom: 0;

        @include breakpoint(small only) {
            font-size: 1.2em;
        }
    }
}
