> section {
	margin-bottom: 2em;
}

.widget.google-advert {
	height: 270px;
	background-color: $light-gray;
}

.widget.recent-posts {
	margin: 0;

	.loading {
		img {
			display: none;
		}
	}

	.simple-post {
		figure {
			height: 200px;
		}

		time {
			display: none;
		}

		.tags {
			display: none;
		}

		p {
			display: none;
		}

		h2 {
			font-size: 13pt;
		}

		@include breakpoint(large) {
			display: flex;
			justify-content: space-between;
			padding: 0;
	
			figure {
				width: 70px;
				height: 70px;
				margin-right: 10px;
			}
	
	
			> div {
				width: 190px;
	
				h2 {
					font-size: 1em;
					margin-top: 0;
				}
	
				p {
					display: block;
					font-size: 0.9em;
					margin: 0;
					line-height: inherit;
				}
			}
	
			&:last-child {
				margin-bottom: 0;
	
				p {
					margin-bottom: 0;
				}
			}
		}
	}
}
