// Admin
.wp-express.admin.wrap {
	h2.page-title {
		display: flex;
		align-items: center;

		span {
			margin-right: .1em;
		}
	}
}

.wp-express.field.attachment {
	padding: 0;
	width: 150px;
	float: none;
	text-align: initial;

	.img-container {
		width: 150px;
		height: 150px;
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: cover;
	}

	.btn-remove {
		cursor: pointer;
		position: absolute;
		top: -10px;
		right: -10px;
		width: 30px;
		height: 30px;
		border: 0;
		border-radius: 30px;
		padding: 0;
		background: red;
		color: white;
	}
}

.wp-express.option-wrap.checkbox {
	label {
		display: flex;
		align-items: center;
	}
}

.wp-express.form-field.checkbox {
	label {
		display: flex;
		align-items: center;
	}
}

.wp-express.metabox {
	.wp-express.post-meta-wrap {
		margin-bottom: 1em;

		&:last-of-type {
			margin-bottom: 0;
		}

		label {
			font-weight: bold;
			margin-bottom: .5em;
			display: block;
	    }

		.field.input {
			input {
				width: 99%;
			}
		}

		&.attachment {
			position: static;
			float: none;
			padding: 0;
			text-align: initial;
			width: auto;
		}

		&.checkbox {
			label {
				display: flex;
				align-items: center;
			}
		}
	}
}
