.post-grid {
	.template-archive & {
		margin-top: 50px;
	}

	.columns {
		margin-bottom: 4rem;
		position: relative;

		h2 {
			font-size: 1.3rem;
			margin-top: 7px;
			margin-bottom: 3px;
		}

		time {
			position: absolute;
			top: 0;
			background: map-get($foundation-palette, 'primary');
			color: $white;
			z-index: 300;
			padding: 9px 10px 5px;
			right: 0;
			text-align: center;

			.day {
				font-weight: 700;
				font-size: 2.7em;
				display: block;
				text-align: center;
				line-height: 1em;
			}

			.month {
				margin-right: 0.2em;
			}
		}

		.description {
			margin-bottom: 1rem;

			p {
				margin-bottom: 0.2rem;
			}
		}
	}
}

.pagination {
	margin: 20px 0 50px;

	li {
		display: inline-block;
	}

	a {
		background-color: $white;
		padding: 10px;
		min-width: 40px;
		min-height: 40px;
		margin: 0 2px;
		transition: background-color 0.3s ease-out;

		&:hover {
			background-color: $light-gray;
			color: $black;
		}
	}

	i {
		margin: 0 5px;
	}

	.active a {
		background: map-get($foundation-palette, 'primary');
		color: $white;
	}
}
