.post-grid {
	.template-archive & {
		margin-top: 50px;
	}

	.columns {
		margin-bottom: 2rem;
		position: relative;

		h2 {
			font-size: 1.3rem;
			margin-top: 7px;
			margin-bottom: 3px;
			font-family: $font-ubuntu;
		}

		time {
			position: absolute;
			top: 0;
			background: map-get($foundation-palette, 'primary');
			color: $white;
			z-index: 300;
			font-weight: 200;
			padding: 9px 10px 5px;
			right: 0;
			text-align: center;

			.day {
				font-size: 40px;
				display: block;
				text-align: center;
				line-height: 35px;
			}
		}

		&.without-date {
			time {
				.day {
					display: none;
				}

				.month {
					font-size: 40px;
					display: block;
					text-align: center;
					line-height: 35px;
				}
			}
		}
	}
}

.pagination {
	margin: 20px 0 50px;

	li {
		display: inline-block;
	}

	a {
		background-color: $white;
		padding: 10px;
		min-width: 40px;
		min-height: 40px;
		margin: 0 2px;
		transition: background-color 0.3s ease-out;

		&:hover {
			background-color: $light-gray;
			color: $black;
		}
	}

	i {
		margin: 0 5px;
	}

	.active a {
		background: map-get($foundation-palette, 'primary');
		color: $white;
	}
}
