#wrapper > footer {
	background-color: $primary-black;

	.widget-area {
		padding: 30px 0 40px;

		h1 {
			color: white;
			font-size: 1.5rem;
		}

		#Flickr {
			.row {
				margin: 0;
			}

			.columns {
				padding: 3px;
				float: left;

				figure.thumbnail {
					height: auto;
				}
			}

/*
			@include breakpoint(medium only) {
				.columns {
					&:nth-child(19), &:nth-child(20) {
						display: none;
					}
				}
			}
*/
		}
	}

	#copywrite {
		background-color: $black;
		padding: 12px;
		line-height: 1;

		.row {
			justify-content: space-between;

			.logo {
				background: transparent url('/images/logo/footer.png') no-repeat center center;
				width: 62px;
				height: 27px;
				margin-right: 10px;
				margin-top: -5px;
			}

			#copyline {
				margin: 0;
				color: $white;
			}

			.social-media {
/*
				@include breakpoint(small only) {
					.social-media-RSS {
						display: none;
					}
				}
*/

				a {
					color: $white;

					&:hover {
						color: map-get($foundation-palette, 'primary');
					}
				}
			}
		}
	}
}

#wrapper.hideFooter > footer {
	display: none;
}
