// Tags
html[lang="en-US"], body {
	font-family: $body-font-family;
	font-size: 100%;
	font-weight: 300;
	margin: 0 !important;
}

body.unicorn {
	background-image: url('../images/background/unicorn.png');
	background-size: 3em;
}

#app {
	min-height: 100%;
	background-color: white;
}

::selection {
	background-color: map-get($foundation-palette, 'primary');
	color: $white;
}

strong {
	font-weight: 700;
}

a {
	color: map-get($foundation-palette, 'primary');
}

p {
	line-height: 1.8;

	&:empty {
		display: none;
	}
}

h1 {
	font-family: $body-font-family;
	font-weight: 700;
}


h2 {
	font-family: $body-font-family;
	font-size: 20pt;
	font-weight: 500;
	letter-spacing: -1.3px;
}

h3 {
	font-family: $body-font-family;
	font-size: 15pt;
	font-weight: 400;
	letter-spacing: -0.4px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	overflow: auto;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

/*
dd {
	margin-bottom: 1em;
	overflow-wrap: break-word;
}
*/

// Classes
.flex-row {
	display: flex;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.tags {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0 !important;

	a {
		display: inline-block;
		background-color: $black !important;
		color: $white !important;
		padding: 0 7px;
		margin: 0 5px 5px 0;
		border-radius: 2px;
		transition: background-color ease-out 0.5s;

		&:hover {
			background-color: map-get($foundation-palette, 'primary') !important;
		}

		&:before {
			content: '#';
			margin-right: 3px;
		}
	}
}
