html, body {
	font-size: 100%;
	margin: 0;
}

body.admin-bar {
  margin-top: $admin-bar-height;

  @media screen and (min-width: $wp-mobile-screen-width) {
    margin-top: $admin-bar-height-mobile;
  }
}


::selection {
	background-color: map-get($foundation-palette, 'primary');
	color: $white;
}

strong {
	font-weight: 500;
}

a {
	color: map-get($foundation-palette, 'primary');
}

p {
	font-weight: 100;
	line-height: 1.8;
}

h1 {
	font-family: $font-ubuntu;
	font-weight: 400;
}


h2 {
    font-size: 20pt;
	font-family: $font-ubuntu;
    letter-spacing: -1.3px;
    	font-weight: 300;
}

h3 {
	font-size: 15pt;
	letter-spacing: -0.4px;
	font-weight: 300;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	overflow: auto;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

li {
	font-weight: 100;
}

dd {
	margin-bottom: 1em;
	overflow-wrap: break-word;
}

.txt2image {
	text-indent: -1000px;
	overflow: hidden;
	display: inline-block;
}

.flex-container-row {
	display: flex;
	flex-direction: row;
	align-items: center;

	&.right {
		justify-content: flex-end;
	}
}

.page-wrapper {
	border-top: $header-height solid $black;
}

.loading {
	text-align: center;

	img {
		display: block;
		margin: 0 auto 10px;
		margin-bottom: 10px;
	}

	i {
		color: map-get($foundation-palette, 'primary');
	}
}

.tags {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0 !important;

	a {
		display: inline-block;
		background-color: map-get($foundation-palette, 'primary') !important;
		color: $white !important;
		padding: 0 7px;
		margin: 0 5px 5px 0;
	    border-radius: 6px;
	    transition: background-color ease-out 0.5s;

		&:hover {
			background-color: $black !important;
		}

		&:before {
			content: '#';
		}
	}
}

.template-dev-tools {
	.container {
		margin-top: 50px;
		margin-bottom: 50px;
	}
}
