#global-header {
	.flex-row {
		.section {
			height: $header-height;
			background: $white;
			width: calc(50% - 42px);

			&.center {
				background: transparent;
				width: 84px;
			}
		}
	}

	.fixed-nav {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10000;
		height: $header-height;
		overflow: hidden;

		.icon {
			width: $header-height;
			height: $header-height;
			background-color: map-get($foundation-palette, 'primary');
			mask-size: calc(#{$header-height} - 10px);
			-webkit-mask-size: calc(#{$header-height} - 10px);
		}

		.columns {
			display: flex;

			&.hide-for-small-only {
				flex-direction: row-reverse;
			}
		}

		.menu {
			display: flex;

			li {
				height: $header-height;
				display: block;
			}
		}
	}

	.logo-container {
		position: fixed;
		z-index: 10000;
		top: 0;
		left: 50%;
		transform: translateX(-50%);

		a {
			width: 84px;
			height: $header-height;
			display: block;
			text-indent: -3000px;
		}
	}

  #search-container {
    height: $header-height;

    > div {
      position: relative;
      border-radius: 24px;
      width: $search-size;
      height: $search-size;
      background: map-get($foundation-palette, 'primary');
      overflow: hidden;
      transition: ease-out width 0.3s;
      justify-content: flex-end;

      input {
        position: absolute;
        color: $white;
        font-size: 0.8rem;
        border: none;
        margin: 0;
        padding: 0;
        width: 150px;
        box-shadow: none;
        background: transparent;
        display: none;
        margin-left: 1rem;
        left: 0;
      }

      a {
        display: block;
        width: $search-size;
        height: $search-size;
        color: $white;
        text-align: center;
      }

      &.open {
        width: 200px;

        input {
          display: block;
        }
      }
    }
  }

  #btn-toggle-mobile {
    width: $header-height;
    height: $header-height;
    display: flex;
    align-items: center;
    outline: none;

    span {
      font-size: 25px;
    }
  }

  .menu.menu-top {
    $elements: 15;
    @for $i from 0 to $elements {
      $px: -1 * (50 + ($i * 30));

      li:nth-child(#{$i}) {
        margin-top: #{$px}px;
      }
    }

    li {
      transition: margin 0.7s ease-out;

      a {
        background: transparent;
        transition: ease-out background 0.3s, ease-out color 0.3s;
        padding: 0 13px;
        font-weight: 600;
        height: $header-height;
        display: flex;
        align-items: center;

        &:hover {
          background-color: map-get($foundation-palette, 'primary');
          color: $white;
        }

        &.current {
          background-color: map-get($foundation-palette, 'primary');
          color: $white;
        }
      }

      .scrolled & {
        margin-top: 0;
      }
    }
  }

  .social-media {
    height: $header-height;
    margin-left: 0.3rem;

    a:hover {
      color: $black;
    }
  }

  #mobile-menu {
    position: fixed;
    margin-top: $header-height;
    background-color: map-get($foundation-palette, 'primary');
    height: 0;
      z-index: 100;
      width: 100%;
  }

    &.show-mobile-menu #mobile-menu {
    height: auto;

    ul {
      display: block;

      li {
        display: block;
        transition: background-color 0.3s ease-out;

        a {
          color: $white;
          display: block;
          float: none !important;
          padding: 20px;
        }

        &:hover {
          background-color: $black;
        }
      }
    }
    }
}

.page-header-wrapper {
  position: relative;
  min-height: $page-header-height;
  background-color: $black;

/*
  @include breakpoint(medium only) {
    min-height: $page-header-height-medium;
  }

  @include breakpoint(small only) {
    min-height: $page-header-height-small;
  }
*/

  .background {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    min-height: $page-header-height;
    position: absolute;

/*
    @include breakpoint(medium only) {
      min-height: $page-header-height-medium;
    }

    @include breakpoint(small only) {
      min-height: $page-header-height-small;
    }
*/
  }

  &.bg-size-contain .background {
    background-size: contain;
  }

  .foreground {
    background: transparent url('../images/background/dotted-dark-foreground.png');
    width: 100%;
    min-height: $page-header-height;
    position: absolute;

/*
    @include breakpoint(medium only) {
      min-height: $page-header-height-medium;
    }

    @include breakpoint(small only) {
      min-height: $page-header-height-small;
    }
*/
  }

  .text {
    position: absolute;
    width: 100%;
    min-height: $page-header-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

/*
    @include breakpoint(medium only) {
      min-height: $page-header-height-medium;
    }

    @include breakpoint(small only) {
      min-height: $page-header-height-small;
    }
*/

    h1 {
      padding: 0 20px;
      text-align: center;

      .flag {
        text-align: left;
        line-height: 0;

          .label {
            font-size: 20px;
          }
      }

/*
      @include breakpoint(medium only) {
        font-size: 40px;
      }

      @include breakpoint(small only) {
        font-size: 35px;
      }
*/
    }

    p {
      font-weight: 100;
      font-size: 19px;
      text-align: center;
      padding: 0 20px;
      line-height: 1.4;

/*
      @include breakpoint(small only) {
        font-size: 16px;
      }
*/
    }
  }

  .menu {
    justify-content: flex-end;

    a {
      color: $white;
      font-weight: 500;
      text-transform: uppercase;
      padding: 27px 20px 25px;
      background-color: transparent;
      transition: background-color ease-out 0.3s;
      font-size: 1rem;
      border-bottom: 6px solid transparent;

      &:hover {
        background-color: map-get($foundation-palette, 'primary');
        border-bottom: 6px solid darken(map-get($foundation-palette, 'primary'), 15%);
      }
    }
  }
}




