.template-single {
	article {
		.assist-thumb {
			border-radius: 100px;
			width: 150px;
			position: absolute;
			z-index: 1000;
			transform: translateX(-50%);
			left: 50%;
			margin-top: -80px;

			@include breakpoint(small only) {
				width: 120px;
				margin-top: -60px;
			}
		}

		.series {
			background-color: $white;
			padding: 0 20px;
			margin-bottom: 15px;
			border-radius: 7px;

			h2 {
				margin-top: 15px;
			}
		}

		> section {
			&:first-child {
				margin-top: 50px;

				> *:first-child {
					margin-top: 0;
				}
			}

			&:nth-child(2).more-margin {
				margin-top: 100px;

				@include breakpoint(small only) {
					margin-top: 80px;
				}
			}
		}

		> *:last-child {
			margin-bottom: 50px;
		}

		h1, h2, h3, h4 {
			clear: both;
		}

		h2 {
			margin-top: 30px;
		}

		del {
			color: $medium-gray;
			text-decoration-color: rgba(map-get($foundation-palette, 'primary'), 0.4);
		}

		blockquote, blockquote p {
			line-height: 2;
		}

		twitterwidget {
			margin: 0 auto !important;
		}

		a {
			display: inline-block;
			color: map-get($foundation-palette, 'primary');
			background-color: transparent;
			transition: background-color 0.3s ease-out, color 0.3s ease-out;
		}

		code {
			border: none;
			background-color: rgba(map-get($foundation-palette, 'primary'), 0.1);
			color: map-get($foundation-palette, 'primary');

			&.shell:before {
				content: "$ ";
				color: $black;
			}
		}

		a:hover, a:focus {
			color: $white;
			background-color: map-get($foundation-palette, 'primary');
		}

		.wp-caption {
			max-width: 100% !important;

			.wp-caption-text {
				font-style: italic;
				text-align: center;
				font-size: small;
			}

			&.alignright {
				float: right;
				margin-left: 10px;
			}

			&.alignleft {
				float: left;
				margin-right: 10px;
			}
		}

		.aligncenter {
			text-align: center;
			width: inherit !important;
		}

		img.aligncenter {
			display: block;
			margin: 0 auto;
		}
	}

	#single-footer {
		background-color: $white;

		#related-posts {
			overflow: hidden;

			.post-grid {
				figure {
					a {
						display: initial;
					}
				}

				.description {
					display: none;
				}

				h2 {
					font-size: 16px;
				}

				figure.thumbnail {
					height: 170px;
				}
			}
		}

		#prev-next {
			display: flex;
			margin-top: 20px;
			margin-bottom: 10px;

			@include breakpoint(small only) {
			}

			a {
				display: flex;
				align-items: center;
				align-content: center;
				transition: color ease-out 0.3s;
				flex-grow: 1;
				background: none;

				i {
					background-color: map-get($foundation-palette, 'primary');
				    border-radius: 3px;
				    width: 40px;
					height: 40px;
					transition: background-color ease-out 0.3s;
				}

				&:hover {
					color: $black;
					background: none;

					i {
						background-color: $black;
					}
				}

				&.prev {
					i {
						margin-right: 0.5em;
					}
				}

				&.next {
					flex-direction: row-reverse;

					i {
						margin-left: 0.5em;
					}

					@include breakpoint(small only) {
						flex-direction: row;

						i {
							margin: 0 0.5em 0 0;
						}
					}
				}
			}
		}
	}
}

.template-single {
	article {
		max-width: 930px;
		margin-right: auto;
		margin-left: auto;
	}
}

// About Page
article.post-about {
	.flex-container-row {
		display: flex;
		margin-bottom: 10px;
		align-items: flex-start;

		.year {
			display: flex;
			flex-direction: column;
			justify-content: center;
			border-radius: 100px;
			background-color: map-get($foundation-palette, 'primary');
			color: $white;
			width: 80px;
			height: 80px;
			margin-right: 20px;
			margin-top: 3px;

			div {
				width: 80px;
				text-align: center;
				margin: 2px 0;
				border-top: 1px solid #f6f6f6;

				&:first-child {
					border-top: none;
				}
			}
		}
	}
}

.carousel .slider{ height: inherit; }
