.callout {
    position: relative;
    border: 1px solid var(--gray);
    background-color: var(--light-gray);
    margin: 0 0 var(--gap) 0;
    padding: var(--gap);

    .button--close {
        position: absolute;
        right: 0;
        top: 0;
    }
}
