.top-bar--ether {
    .menu__link {
        margin-top: 0 !important;
    }
}

.header--ether {
    padding-top: var(--header-height);

    .header--ether__atom {
        margin-top: var(--gap);
    }

    .header--ether__type {
        text-align: center;
        margin-top: var(--gap);
    }
}

.chart {
    margin-top: var(--gap);
}

.table.table--ether {
    margin-top: var(--gap);
    text-align: right;

    tbody {
        border-bottom: 1px solid var(--light-gray);

        &:last-child {
            border-bottom: none;
        }
    }

    th {
        background-color: var(--lighter-gray);
    }

    .table__ether__term-group {
        text-align: left;
        border-bottom: 1px solid var(--light-gray);
    }
}
