SERVER_PORT=8010
BASE_URL=http://localhost:8010

# Security
SESSION_SECRET=415b3a0697c464e5f71e02700957ca3e1f6aa5681f1346f06d3a315be62d9abe
ACCESS_SECRET=415b3a0697c464e5f71e02700957ca3e1f6aa5681f1346f06d3a315be62d9abe
CORS_ORIGINS='["http://localhost:8000", "http://localhost:8010"]' # JSON string[] of Next.JS and auth

# Google Login
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI='http://localhost:8010/google/auth/callback'
GQL_ENDPOINT='http://localhost:8040' # From local to local
GQL_ENDPOINT='http://host.docker.internal:8040' # From docker to local

# Image
IMAGE=
