SERVER_PORT=8010
# Security
SESSION_SECRET=415b3a0697c464e5f71e02700957ca3e1f6aa5681f1346f06d3a315be62d9abe
ACCESS_SECRET=415b3a0697c464e5f71e02700957ca3e1f6aa5681f1346f06d3a315be62d9abe
CORS_ORIGINS='["http://localhost:8000","http://localhost:8020"]' # JSON string[] of Next.JS & Wordpress
# Google Login
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
REDIRECT_URI='http://localhost:8010/auth/callback'
GQL_ENDPOINT='http://localhost:8040'
