<div class="container">
	<article>
		<div class="post_content">
			<header>
				<img src="{{GLOBALS.themeURL}}/assets/images/pages/about/profile.jpg" alt="Sujin Choi" id="profile" />
				<h1>Sujin Choi</h1>
				<p>Full-Stack Wordpress Developer</p>
			</header>

			<div class="text-background">
				<p>PHP, Wordpress, and front end full stack developer who has 18 years work experience in structuring, implementing interactive websites. Able to complete projects efficiently with attractive, user-friendly websites.</p>

				<nav class="social">
					<a href="mailto:sujin.develop@gmail.com" class="email">
						<span class="dashicons dashicons-email"></span>
					</a>

					<a href="https://twitter.com/sujin2f" target="_blank" class="twitter">
						<span class="dashicons dashicons-twitter"></span>
					</a>

					<a href="https://www.facebook.com/sujin1977" target="_blank" class="facebook">
						<span class="dashicons dashicons-facebook-alt"></span>
					</a>
				</nav>

				<h2>Skills</h2>
				<div class="skills">
					<graph graph-type="donut" graph-value="95" graph-name="PHP/Wordpress"></graph>
					<graph graph-type="donut" graph-value="95" graph-name="HTML/CSS"></graph>
					<graph graph-type="donut" graph-value="90" graph-name="jQuery"></graph>
					<graph graph-type="donut" graph-value="50" graph-name="AngularJS"></graph>
					<graph graph-type="donut" graph-value="95" graph-name="Photoshop"></graph>
				</div>

			</div>

			<div class="text-background bg-red">
				<h2>Experience</h2>
				<h3><a href="https://www.uncannyowl.com/" target="_blank">Uncanny Owl</a> <span>2013~</span></h3>
				<p>Contract developer. Developed plugins for implementing the famous e-Learning Wordpress module, LearnDash. Developed a statistic module for TinCan xAPI.</p>

				<ul>
					<li>
						<h4><a href="https://www.uncannyowl.com/downloads/tin-canny-reporting/" target="_blank">Tin Canny LearnDash Reporting</a></h4>
						<p>Developed <strong>Tin Can Statement Tracking and Reporting</strong> and <strong>Storyline and Captivate Uploader</strong></p>
					</li>
					<li>
						<h4><a href="http://droneology.tech/" target="_blank">Droneology</a></h4>
						<p>Developed <strong>Coupon System</strong> and <strong>Integration between Coupon and BadgeOS</strong></p>
					</li>
					<li>
						<h4><a href="https://www.influenceecology.com/" target="_blank">Influence Ecology</a></h4>
						<p>Developed <strong>Gravity Forms Searching Module</strong>, <strong>LearnDash Group Extension</strong>, <strong>LearnDash Time Tracker</strong>, <strong>Integration between LearnDash and BuddyPress</strong>, and <strong>Event Espresso Extension</strong></p>
					</li>
					<li>
						<h4><a href="https://www.bigshakti.com/" target="_blank">BigShakti</a></h4>
						<p>Developed <strong>Integration between LearnDash and WooCommerce</strong></p>
					</li>
					<li>
						<h4>Darby Training Systems</h4>
						<p>Developed <strong>Integration between LearnDash and EventTribe</strong></p>
					</li>

					<li>
						<h4><a href="https://www.leadonuniversity.com/" target="_blank">LEADon University</a></h4>
						<p>Developed <strong>Group Expiration Plugin</strong></p>
					</li>
					<li>
						<h4><a href="https://www.financialeducatorscouncil.org/" target="_blank">NFEC</a></h4>
						<p>Developed <strong>Integration between LearnDash and Gravity Forms</strong>, <strong>Gravity Forms PDF Generator</strong>, and <strong>LearnDash Quiz Extension</strong></p>
					</li>
					<li>
						<h4><a href="http://www.ocsta.on.ca/" target="_blank">OCSTA</a></h4>
						<p>Developed <strong>LearnDash Quiz Extension</strong></p>
					</li>
					<li>
						<h4>Pedro</h4>
						<p>Developed <strong>Timer for LearnDash</strong></p>
					</li>
					<li>
						<h4><a href="https://sistershipcircle.com/" target="_blank">Sistership Circle</a></h4>
						<p>Developed <strong>Some shortcodes</strong>, <strong>LearnDash Group Extension</strong>, and <strong>WooCommerce Integration</strong></p>
					</li>
				</ul>

				<h3>BD Company <span>2008~2012</span></h3>
				<p>Senior web developer and project manager. Develop and maintain LG Official Blog and Samsung Insurance Webzine. Server management and reporting. Plan and coordinate the other developers with UML and story board.</p>

				<h3>Brain inc. <span>2005~2008</span></h3>
				<p>Senior Web Developer and Project Manager. The first Wordpress agency in Korea Responsible for managing projects. Worked for Samsung, LG, SK Telecom and 20+ small and medium enterprises.</p>

				<h3>W Communcations <span>1999~2005</span></h3>
				<p>Junior Web Developer, Copywriter</p>

				<h2>Education</h2>
				<h3>George Brown College <span>2015~</span></h3>
				<p>Contract developer. Developed plugins for implementing the famous e-Learning Wordpress module, LearnDash. Developed a statistic module for TinCan xAPI.</p>

				<h3>KY University <span>1995~2004</span></h3>
				<p>Contract developer. Developed plugins for implementing the famous e-Learning Wordpress module, LearnDash. Developed a statistic module for TinCan xAPI.</p>
			</div>
		</div>
	</article>
</div>
