#wrapper.stretched-background > main {
	.page-header-wrapper {
		height: calc(100vh);
		min-height: inherit;

		.overlay {
			height: calc(100vh);
			min-height: inherit;
		}

		.text {
			h1 {
				height: 116px;
				text-indent: -10000px;
				overflow: hidden;
				display: block;
				background: transparent url('../images/logo.svg') no-repeat 0 0;
				width: 100%;
				background-position: center bottom;
				margin-bottom: 20px;
			}

			p {
				padding: 0 0.2em;
				line-height: inherit;
				background-color: $white;
				color: $black;
				font-size: 1.3em;
				font-weight: 400;
				margin-bottom: 0;

				@include breakpoint(small only) {
					font-size: 1.2em;
				}
			}
		}
	}
}
