nav.menu {
	display: flex;
	align-items: center;

	> div {
		position: relative;

		a {
			display: flex;
			align-items: center;
		}

		nav.children {
			position: absolute;
			left: 0;
			display: flex;
			flex-direction: column;
			background: black;
			align-items: stretch;
			width: max-content;
			cursor: pointer;

			a {
				color: $white;
				width: auto;
				min-width: max-content;
			}
		}
	}
}
