.table--snippet {
    tr {
        border-bottom: none;
    }

    .snippet__code__row {
        border-bottom: none;

        td {
            padding: 0;
        }

        .snippet__code {
            display: grid;
            grid-template-rows: 0fr;
            transition: grid-template-rows 0.1s ease-out;

            .code {
                margin: 0;
                overflow: hidden;
            }
        }

        &.snippet__code__row--open {
            .snippet__code {
                grid-template-rows: 1fr;
            }
        }
    }
}
