.about-item {
    display: flex;
    align-items: flex-start;
    border-top: 1px solid var(--primary);
    margin-bottom: 1.5em;

    p {
        margin-bottom: 0.5em;
    }
}

.about-item__year {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--primary);
    color: var(--white);
    width: 5.5em;
    height: 5.5em;
    margin-right: var(--gap);
    align-items: center;
    flex-shrink: 0;

    div {
        text-align: center;
        width: 100%;
    }

    .about-item__separator {
        background-color: var(--white);
        height: 0.3em;
        width: 0.3em;
    }
}

.about-item__detail {
    margin-top: 0.7em;

    h3 {
        font-size: 1.4em;
        ul {
            margin-top: 0.5em;
        }
    }

    & *:last-child {
        margin-bottom: 0;
    }
}
