.footer {
    background-color: var(--dark-gray);
}

.footer__bottom {
    background-color: var(--black);
    padding: 0.8em 0;
}

.footer__bottom__left {
    display: flex;
    align-items: center;
}

.footer__logo {
    margin-right: 0.8em;

    svg {
        width: 62px;
        height: auto;

        path {
            fill: var(--gray);
        }
    }
}

.footer__copyright {
    margin: 0;
    color: var(--gray);
    font-size: 0.9em;
    height: 70%;
}

.footer__top {
    padding-top: 2em;
    padding-bottom: 1em;

    .widget__heading {
        border-bottom: 1px solid var(--white);

        span {
            background-color: var(--white);
            color: var(--black);
        }
    }
}
