.wrapper--front-page {
    main {
        margin-bottom: 0 !important;
    }

    .top-bar__menu {
        display: none !important;
    }

    .banner {
        height: 100vh;
        margin: 0;
        overflow: hidden;
    }

    .banner__overlay {
        height: 100vh;
    }

    .banner__title {
        height: 100vh;
    }

    .column--banner__title {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .banner__title__heading {
        width: 100%;

        svg {
            width: 30vw;
        }
    }

    .banner__title__excerpt {
        width: fit-content;
    }

    .banner__background {
        height: 100vh;
    }
}
