@use 'src/common/scss/mixin';

.social-share {
    display: flex;
    margin-bottom: 1em;
}

.social-share__button {
    background: none !important;
    border: none !important;
    padding: 0 !important;
    width: 3em;
    height: 3em;
    margin: 0 0.3em 0 0 !important;
    border-radius: 1.5em;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        transition: transform 0.2s ease-out;
    }

    @include mixin.hover {
        svg {
            transform: rotate(7deg) scale(1.5, 1.5);
        }
    }
}

.social-share__button--twitter {
    fill: #4ec8f4;
}

.social-share__button--facebook {
    fill: #1b75bb;
}
