.widget--tag-cloud {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tag-cloud {
    margin: 0.2em;
    padding: 0.1em 0.4em;
    border-radius: 5px;
}

.tag-cloud--size-0 {
    font-size: 1em;
}
.tag-cloud--size-1 {
    font-size: 1.1em;
}
.tag-cloud--size-2 {
    font-size: 1.2em;
}
.tag-cloud--size-3 {
    font-size: 1.3em;
}
.tag-cloud--size-4 {
    font-size: 1.4em;
}

.tag-cloud--color-0 {
    color: rgba(255, 255, 255, 0.7);
    background-color: transparent;
}
.tag-cloud--color-2 {
    color: var(--white);
    background-color: rgba(151, 0, 0, 0.5);
}
.tag-cloud--color-3 {
    color: var(--white);
    background-color: rgba(151, 0, 0, 0.7);
}
.tag-cloud--color-4 {
    color: var(--white);
    background-color: var(--primary);
}
