<section id="widget-holder">
	<div class="container">
<!--
		<section class="span4">
			Google
		</section>

		<section class="span4">
			<section class="flickr">
				<h1>Photo Stream</h1>

				<ul id="footer_flickr">
					<li class="flickr_li">
						<figure class="thumbnail featured-thumbnail">
							<a class="thumbnail" rel="prettyPhoto[footer_flickr]" href="http://farm9.staticflickr.com/8496/28594697610_2c515f969b_b.jpg" title="Police, Toronto">
								<div class="zoom-icon"></div>
								<div class="inner-shadow"></div>
								<img class="flickr_img" src="http://farm9.staticflickr.com/8496/28594697610_2c515f969b_s.jpg" alt="Police, Toronto">
							</a>
						</figure>
					</li>
				</ul>
			</section>
		</section>

		<section class="span4">
			<section class="tags">
				<h1>Tag Cloud</h1>
			</section>
		</section>
-->
	</div>
</section>

<section id="copyright-holder">
	<div class="container">
		<section class="span8">
			<a href="/" class="logo">SUJIN</a>
			<p>
				Content on this site is licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/3.0" target="_blank">Creative Commons Attribution 3.0 License</a>
			</p>
		</section>
		<section class="span4">
			<nav ng-include="GLOBALS.viewBase + '/template-part/social.html'" class="social"></nav>
		</section>
	</div>
</section>
