<a class="github image" href="https://github.com/sujin2f/" target="_blank">Github</a>

<a class="facebook" href="https://www.facebook.com/sujin1977" target="_blank">
	<span class="dashicons dashicons-facebook"></span>
</a>

<a class="twitter" href="https://twitter.com/sujin2f" target="_blank">
	<span class="dashicons dashicons-twitter"></span>
</a>

<a class="flickr image" href="http://www.flickr.com/photos/ming-zoo/" target="_blank">Flickr</a>

<a class="linkedin image" href="http://www.linkedin.com/pub/sujin-%EC%88%98%EC%A7%84-choi/65/992/a6" target="_blank">Linkedin</a>

<a class="rss" href="http://www.sujinc.com/feed/">
	<span class="dashicons dashicons-rss"></span>
</a>
