# MySQL
# should be matched with root information
MYSQL_USER=example_user
MYSQL_PASSWORD=your_password_here
MYSQL_DB=wordpress
MYSQL_ROOT_PASSWORD=your_password_here
MYSQL_PORT=8050

# WP
ENV=development
SERVER_PORT=8020
ACCESS_SECRET=415b3a0697c464e5f71e02700957ca3e1f6aa5681f1346f06d3a315be62d9abe # should be matched with @next, @auth, @graphql
GQL_ENDPOINT='http://host.docker.internal:8040' # From docker to local 'http://sujin_graphql:8040': docker to docker
VERSION=12.0.0
