# MySQL
# should be matched with root information
MYSQL_USER=example_user
MYSQL_PASSWORD=your_password_here
MYSQL_DB=wordpress

# WP
PORT=8020
ENV=development
VERSION=12.0.0
INTER_COM_SECRET= # should be matched with @next, @auth, @graphql
CRYPTO_KEY= # should be matched with @next, @auth, @graphql
GQL_ENDPOINT='http://localhost:8040' # From local to local
GQL_ENDPOINT='http://host.docker.internal:8040' # From docker to local
NEXT_ENDPOINT='http://localhost:8000'
