MYSQL_USER=example_user
MYSQL_PASSWORD=your_password_here
MYSQL_DB=wordpress
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=your_password_here

WORDPRESS_PORT=5000
NEXTAUTH_SECRET=415b3a0697c464e5f71e02700957ca3e1f6aa5681f1346f06d3a315be62d9abe # match to @next
CORS_ORIGIN=http://localhost:4000 # match to @next's url
