<?xml version="1.0"?>
<ruleset name="Sujin">
    <description>PHPCS</description>

    <file>theme/functions.php</file>
    <file>theme/index.php</file>
    <file>theme/classes/</file>
    <file>plugins/resume-item/resume-item.php</file>
    <file>plugins/resume-item/src/</file>

    <rule ref="WordPress" />
    <rule ref="WordPress">
        <exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />
        <exclude name="WordPress.Files.FileName.InvalidClassFileName" />
    </rule>
</ruleset>
