.recipe__amount {
    width: 9em;

    .form__input {
        text-align: right;
        width: 9em;
    }
}

.recipe__unit {
    width: 2em;
}

.recipe__ingredient {
    text-transform: capitalize;
}

.table__container--recipe__single {
    margin-bottom: var(--gap);
}
