section.carousel {
    background: $light-gray;
    display: flex;
    flex-direction: row-reverse;
    transition: height 0.5s ease;
    position: relative;

    section.picture-frame {
        padding: 10px;
        width: calc(100% - (100px + 20px));
        height: auto;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
        }
    }

    section.nav {
        overflow-y: scroll;
        padding: 10px 0 10px 10px;
        width: calc(100px + 20px);
        scroll-behavior: smooth;

        nav {
            display: flex;
            flex-direction: column;

            img {
                cursor: pointer;
                max-width: 100px;
                height: auto;
                margin-bottom: 10px;
                border: 2px solid $light-gray;
                transition: border 0.5s ease;

                &.current {
                    border-color: map-get($foundation-palette, 'primary');
                }

                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }

    section.arrow-nav {
        position: absolute;
        display: none;
        left: 50%;
        transform: translate(-50%, 0);

        button {
            background-color: map-get($foundation-palette, 'primary');
            outline: none;

            i {
                mask-image: url('../../images/icons/prev.svg');
                mask-size: 15px;
                mask-repeat: no-repeat;
                mask-position: center;

                width: 40px;
                height: 40px;
                display: block;

                background-color: $white;
            }
        }

        .next i {
            transform: rotate(180deg);
        }

        div {
            display: flex;
            background: $black;
            color: $white;
            width: 40px;
            height: 40px;
            justify-content: center;
            align-items: center;
        }
    }

    @include breakpoint(small only) {
        section.picture-frame {
            width: 100%;
        }

        section.nav {
            display: none;
        }

        section.arrow-nav {
            display: flex;
        }
    }
}
