.text-sort__container {
    display: flex;
    margin-bottom: 20px;
    padding: 1em;
    overflow-y: scroll;
}

.text-sort__section {
    width: 100%;
    height: fit-content;
    min-height: 100%;
    overflow-x: scroll;
}

.text-sort__textarea {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    resize: none;
    border: none;
    padding: 0;
    margin: 0;
    background-color: $light-gray;
    box-shadow: none;
    font-family: monospace;

    &:focus {
        background-color: $light-gray;
        box-shadow: none;
        border: none;
    }

    &:disabled {
        background-color: $light-gray;
    }
}

.text-sort__line-number {
    margin-right: 10px;

    div {
        text-align: right;
    }
}
