.list-item {
    margin-bottom: 1em;
}

.list-item__thumbnail {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: block;
    border: none;
    line-height: inherit;
    transition: border 0.2s ease-out;
    border: 1px solid rgba(211, 0, 0, 0);
    border-radius: none;
    box-shadow: none !important;
    width: 100%;
    height: 190px;
}

.list-item__zoom {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: map-get($foundation-palette, 'primary');
    transition: opacity 0.3s ease-out;
    opacity: 0;
    background-image: url('../../images/icons/magnify.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 4em;
}

.list-item__shadow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    box-shadow: inset 0 2px 50px rgba(0, 0, 0, 0.1);
    z-index: 3;
}

.list-item__time {
    position: absolute;
    top: 0;
    background: map-get($foundation-palette, 'primary');
    color: $white;
    z-index: 300;
    padding: 9px 10px 5px;
    right: 0;
    text-align: center;
}

.list-item__day {
    font-weight: 700;
    font-size: 2.7em;
    display: block;
    text-align: center;
    line-height: 1em;
}

.list-item__month {
    margin-right: 0.2em;
}

.list-item__image__container {
    height: 100%;
    width: 100%;
}

.list-item__image {
    object-fit: cover;
    object-position: center center;
    transition: transform 0.2s ease-out;
    height: inherit;
    width: 100%;
}

.list-item__title {
    font-size: 1.3rem;
    margin-top: 7px;
    margin-bottom: 3px;
}

.list-item__description {
    margin-bottom: 0.5em;
}

.list-item__thumbnail {
    &:hover {
        border: 1px solid rgba(211, 0, 0, 0.4);

        .list-item__zoom {
            opacity: 0.4;
        }

        .list-item__image {
            transform: rotate(7deg) scale(1.5, 1.5);
        }
    }
}
