.header--ether--data {
    padding-top: var(--header-height);
}

.table.table--ether {
    text-align: right;

    tbody {
        border-bottom: 1px solid var(--light-gray);

        &:last-child {
            border-bottom: none;
        }
    }

    th {
        background-color: var(--lighter-gray);
    }

    .table__ether__term-group {
        text-align: left;
        border-bottom: 1px solid var(--light-gray);
    }
}
