@use '@common/scss/mixin';

$header-height: 48px;

.wrapper {
    --header-height: 48px;

    main {
        min-height: calc(100vh);
    }

    .paging__container {
        margin-bottom: 1.5em;
    }

    article {
        margin-bottom: 1.5em;

        blockquote {
            background-image: url('../images/quote.svg');
            background-position: center var(--gap);
            background-repeat: no-repeat;
            background-size: 2em;
            padding: 4em 1.2em var(--gap);
            background-color: var(--light-gray);
            margin: 0 0 1.5em;

            :last-child {
                margin-bottom: 0;
            }
        }

        dl {
            dd {
                margin-bottom: 0.5em;
            }

            :last-child {
                margin-bottom: 0;
            }
        }

        pre.code {
            overflow-x: scroll;
            margin-bottom: 1.5em;
            box-sizing: border-box;
            padding: var(--gap);
            background-color: var(--light-gray);
            width: calc(100vw - 2em);

            code.hljs {
                padding: 0;
                background-color: transparent;
            }

            @include mixin.medium {
                width: 100%;
                max-width: 100%;
            }
        }

        .twitter-tweet {
            margin-bottom: 1.5em !important;
        }

        .gist {
            width: 100%;
            min-height: calc(100vh - #{$header-height});
            margin-bottom: 1.5em;
            border: 1px solid var(--light-gray);
            padding: 0.5em 0;
        }
    }
}
