.header--dashboard {
    height: 100vh;
    position: fixed;
    padding: $padding 0;
    width: $dashboard__header-width;
    background: linear-gradient($dashboard, darken(desaturate($dashboard, 15), 15));
    color: lighten($dashboard, 50%);

    @include desktop {
        width: $dashboard__header-width--tablet;
    }

    @include tablet {
        display: none;
    }

    .profile {
        margin-bottom: $padding * 2;

        .profile__photo__border-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto $margin;
            width: $dashboard__profile-width + $padding / 2;
            height: $dashboard__profile-width + $padding / 2;
            border-radius: $dashboard__profile-width;
            background: linear-gradient(
                to bottom right,
                $dashboard,
                $dashboard,
                lighten($dashboard, 50%)
            );

            .profile__photo {
                width: $dashboard__profile-width;
                height: $dashboard__profile-width;
                border-radius: $dashboard__profile-width;
            }

            @include desktop {
                width: $dashboard__profile-width--tablet + $padding / 2;
                height: $dashboard__profile-width--tablet + $padding / 2;
                border-radius: $dashboard__profile-width--tablet;

                .profile__photo {
                    width: $dashboard__profile-width--tablet;
                    height: $dashboard__profile-width--tablet;
                    border-radius: $dashboard__profile-width--tablet;
                }
            }
        }

        .profile__name {
            text-align: center;
            font-size: 1.2rem;
        }
    }

    .nav-menu {
        padding: 0;

        .nav-menu__item {
            display: block;
            list-style: none;
            border-top: lighten($dashboard, 7%) solid $border-thickness / 2;
            border-bottom: darken($dashboard, 13%) solid $border-thickness / 2;

            a {
                display: block;
                color: lighten($dashboard, 50%);
                padding: $padding;
                text-decoration: none;
            }

            &:hover {
                background-color: darken($dashboard, 10);
                border-bottom: lighten($dashboard, 7%) solid $border-thickness / 2;
                border-top: darken($dashboard, 13%) solid $border-thickness / 2;
            }
        }
    }
}

.header--dashboard + .main {
    min-height: 100vh;
    padding: 0 0 0 $dashboard__header-width;
    background-color: $light-grey;

    .aside {
        display: flex;
        align-items: center;
        background-color: $white;
        height: $padding * 3.5;
        padding: ($padding /2) $padding;
        border-bottom: $border;
        box-shadow: 0 0 10rem 1rem lighten($black, 60%);
    }

    .row {
        padding: $padding * 2;
    }

    @include desktop {
        padding: 0 0 0 $dashboard__header-width--tablet;

        .row {
            padding: $padding;
        }
    }

    @include tablet {
        padding: 0;

        .row {
            padding: $padding / 2;
        }
    }
}
