@use 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --color-primary: rgb(151 0 0);
    --color-primary-dark: rgb(100 0 0);
    --color-secondary: rgb(243 157 46);
    --color-secondary-dark: rgb(241, 144, 19);
    --spacing-header: 3rem;
    --aspect-ratio: 4/3;
}

@source inline("{m,p}{x,y,t,b,l,r}-{0,0.5,1,2,3,4,5,6,7,8,9,10}{!}");
@source inline("{-m}{t}-{3}");
@source inline("border-t");
@source inline("border-t-primary");
@source inline("text-{xl}");
@source inline("text-{slate,white}-{600}");
@source inline("font-{normal,semibold}");
@source inline("font-{normal}");
@source inline("leading-{normal}");
@source inline("flex");
@source inline("flex-{wrap}");
@source inline("gap-{2}");
@source inline("bg-{secondary}");

.menu--hamburger {
    z-index: 100;

    .menu__link {
        padding: calc(var(--spacing) * 3);
        color: var(--color-white);
        background-color: var(--color-black);
        width: 100vw;

        &:hover {
            background-color: var(--color-primary);
        }
    }

    .menu__block .menu__block {
        .menu__link {
            padding-left: calc(var(--spacing) * 9);
        }
    }
}

.menu--top {
    $elements: 15;

    > .menu__block {
        display: flex;

        @for $i from 0 to $elements {
            $px: -1 * (50 + ($i * 30));

            > .menu__item:nth-child(#{$i}) > .menu__link {
                margin-top: #{$px}px;
                color: var(--color-primary);
            }
        }

        .menu__block {
            position: fixed;
            top: var(--spacing-header);
            display: none;
        }
    }

    .menu__link {
        display: flex;
        align-items: center;
        height: var(--spacing-header);
        background-color: var(--color-white);
        transition: ease-out 0.3s background, ease-out 0.3s color, ease-out 0.7s margin;
        padding: 0 calc(var(--spacing) * 3);

        &:hover {
            background-color: var(--color-primary) !important;
            color: var(--color-white) !important;
        }

        &.current {
            background-color: var(--color-primary);
            color: var(--color-white);
        }
    }

    .menu__item {
        &:hover {
            .menu__block {
                display: block;
            }
        }
    }

    .menu__link__arrow {
        display: none;
    }

    &.scrolled .menu__link {
        margin-top: 0 !important;
    }
}
