& {
    margin-bottom: 1em;

    &:before {
        content: '';
        width: 5px;
        height: 5px;
        display: block;
        margin: 0 auto;
        background-color: $medium-gray;
        border-radius: 5px;
        margin-bottom: 1em;
    }

    > * {
        margin-bottom: 2em;
    }

    .social-share {
        display: flex;
        margin-bottom: 2em;

        button {
            width: 50px;
            height: 50px;
            border-radius: 30px;
            margin-right: 5px;
            transition: all ease-out 0.1s;
            mask-size: 50px;
            mask-position: center;
            mask-repeat: no-repeat;

            &.twitter {
                mask-image: url('../../../../images/icons/twitter.svg');
                background-color: #4ec8f4;
            }

            &.facebook {
                mask-image: url('../../../../images/icons/facebook.svg');
                background-color: #1b75bb;
            }

            &:hover {
                background-color: $dark-gray;
                mask-size: 60px;
            }
        }
    }
}
