figure.thumbnail {
	position: relative;
	overflow: hidden;
	padding: 0;
	margin: 0;
	display: block;
	border: none;
	line-height: inherit;
	transition: border 0.2s ease-out;;
	border: 1px solid rgba(211, 0, 0, 0);
	border-radius: none;
	box-shadow: none !important;

	@include breakpoint(medium only) {
		height: 220px;
	}

	@include breakpoint(small only) {
		height: 350px;
	}

	.zoom-icon {
		position: absolute;
		z-index: 2;
		width: 100%;
		height: 100%;
		background: map-get($foundation-palette, 'primary');
		transition: opacity 0.3s ease-out;
		opacity: 0;

		i {
			display: block;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 60px;
			color: white;
		}
	}

	.inner-shadow {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: block;
		box-shadow: inset 0 2px 50px rgba(0, 0, 0, 0.1);
		z-index: 3;
	}

	.attachment-post-thumbnail {
		width: 100%;
		height: 100%;
		transition: transform 0.2s ease-out;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}

	img {
		width: 100%;
		height: auto;
		transition: transform 0.2s ease-out;
	}


	&:hover {
		border: 1px solid rgba(211, 0, 0, 0.4);

		.zoom-icon {
			opacity: 0.4;
		}

		.attachment-post-thumbnail {
			transform: rotate(7deg) scale(1.5,1.5);
		}

		img {
			transform: rotate(7deg) scale(1.5,1.5);
		}
	}
}
